body {
    background-color: grey;
}

#main {
    width: auto;
    height: 100%;
}

#content {
    top: 15%;
    width: 76.6%;
    height: 80.5%;
    left:12%;
}

.rpgui-container {
    height: 75%;
    width: 18%;
    color: white;
    font-size: larger;
}

#header {
    position: fixed;
    left: 40.5%;
    top: 2%;
    height: max-content;
    width: 19%;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

#LINK1 {
    position: fixed;
    left: 30.5%;
    top: 2%;
    height: max-content;
    width: 9.5%;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

#LINK2 {
    position: fixed;
    left: 60%;
    top: 2%;
    height: max-content;
    width: 9.5%;
    text-align: center;
    font-size: large;
    font-weight: bold;
}    

#names {
    height: 7.2%;
    width: 16%;
    font-size: medium;
    text-align: center;
}

#stats {
    height: 7.2%;
    width: 16%;
    top: 5%;
    font-size: medium;
    text-align: center;
}