body {
    background-color: grey;
    
}

.rpgui-content {
    left: 12.5%;
    top: 15%;
    width: 75%;
}

.rpgui-container {
    height: 50%;
    width: 18%;
    color: white;
    
}

#header {
    position: fixed;
    left: 30%;
    top: 2%;
    height: max-content;
    width: 40%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}